In [ ]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd
from pandas import DataFrame
from pandas import Series
import numpy as np

## abalone data

(1점)

In [ ]:
# 전복 데이터 불러오기

abalone = 

abalone

변수 설명  

| column | 설명 |  
| :------------ | :------------- |  
|sex|M(남성),F(여성),I(유아)|  
|lenght|가장 긴 shell 측정, mm|  
|diameter|직경, mm|
|height|껍질 안에 있는 전복 높이, mm|
|whole_weight|전체 무게, g|
|shucked_weight	|껍질 내의 전복 무게, g|
|viscera_weight|전복 내장 무게, g|
|shell_weight|건조 후 껍질 무게, g|
|rings|전복 나이|

### Q1. 내장을 제외한 전복의 무게를 구하는 함수를 정의하고, 
### 함수를 적용해서 '전복-내장'이라는 컬럼을 abalone에 추가하세요 (11점)

In [ ]:
# 함수를 정의하세요 (6점)

In [ ]:
# 데이터에 함수를 적용하고, '전복-내장' 컬럼을 추가하세요 (5점)

### Q2 . apply에서 lambda를 이용해서 'whole_weight'의 평균을 넘는 지에 대한 새로운 컬럼('heavy_w')를 정의하고, groupby를 이용하여 'sex'별 'heavy_w'가 평균을 넘는 개수가 몇개인지 구하세요 (11점)

In [ ]:
# apply에서 lambda를 이용해서 'whole_weight'의 평균을 넘는 지에 대한 새로운 컬럼('heavy_w')를 정의하세요 (6점)

In [ ]:
# groupby를 이용하여 'sex'별 'heavy_w'가 평균을 넘는 개수가 몇개인지 구하세요 (5점)

### Q3. sex별로 height,whole_weight들의 평균값을 구하시오. (6점)

agg를 사용하세요

In [ ]:
# 코드를 작성하세요

### Q4. lenght가 0.5이상의 데이터에서 rings의 평균이 가장 큰 sex를 구하시오. (9점)

**hint: query 사용**

In [ ]:
# 코드를 작성하세요 (7점)

In [ ]:
# 가장 큰 성별과 평균값은? (1점)

# 성별: 
# 평균값:

### Q5. sex를 제외한 column 중 원하는 두 column을 정하고, 두 컬럼의 합을 구하는 groupby를 만들기  (12점)
집계함수, apply, agg, lambda 등 사용하여 두개를 작성하세요  
(컬럼과 함수는 다른것으로 사용하세요)  
(key값은 sex로)

In [ ]:
# (1) (6점)
# 선택 컬럼을 적어주세요 :  


# 코드를 작성하세요

In [ ]:
# (2) (6점)
# 선택 컬럼을 적어주세요 :  


# 코드를 작성하세요

### Q6. key값을 sex로 하고, 나머지 column들에 min, mean, max를 적용하고, 이름을 최소, 평균, 최대 로 바꾸기 (8점)

In [ ]:
# 코드를 작성하세요

### Q7. pivot_table을 이용하여 abalone 데이터 살펴보기  (10점)
pivot_table을 사용하여 두가지를 작성해보세요

In [ ]:
# (1) 코드를 작성하세요 (5점)

In [ ]:
# (2) 코드를 작성하세요 (5점)

## phone_data

(1점)

In [ ]:
# phone_data 데이터 불러오기

df_phone = 

df_phone

### Q8. groupby를 이용해서 item의 횟수와 network_type의 횟수를 각각 구해보세요 (8점)
각 column의 이름은 **item_횟수**, **network_type_횟수**로 변경하세요

In [ ]:
# item의 횟수 (4점)

In [ ]:
# network_type의 횟수 (4점)

### Q9. 아래와 같은 모양을 작성해 보세요  (12점)

<img src='http://drive.google.com/uc?export=view&id=1xnj86gVAaeEACmbrhh88-YrIATAZZ3ma' /><br>

#### 9-1. pivot_table을 이용하여 작성하세요 (6점)

In [ ]:
# pivot_table 사용한 두가지 방법

6주차 과제에서 9-1번 답 쓰는 곳에 주석 처리된 부분은 무시하시고 푸시면 됩니다~!

#### 9-2. crosstab을 이용하여 작성하세요 (6점)
(crosstab의 경우 뒤에 소수점이 있을 수 있습니다)

In [ ]:
# crosstab 사용한 코드를 작성해주세요

### Q10. crosstab을 사용해서 2015-02에 사용수가 많은 item을 찾고,  2014.11~2015.03의 sms의 총 빈도수를 찾아보세요  (11점)

**hint: margins**

In [ ]:
# 코드를 작성해주세요 (10점)

In [ ]:
# 답을 입력해주세요 (1점)

# 2015-02에 사용수가 많은 item : 
# 2014.11~2015.03 총 빈도수 :

# END